
<div
	flex
	layout="column"
>
	<form
		flex
		layout="column"
		name="form"
		ng-submit="submit()"
		novalidate
		disabled="true"
		class="position-relative"
	>

		<loading-spinner
			class="fill size-mid"
			ng-class="submitStatus"
			ng-if="loading"
		></loading-spinner>

		<div
			flex
			layout="column"
			class="modal-content-scrollable"
		>
			<h4>{{item.extraInfo.prospectNome}}</h4>
			<formly-form
				flex
				form="form"
				fields="fields"
				model="model"
				options="formOptions"
			>
			</formly-form>
			<div
				ng-if="!model.atendimentoActionTransferOpcaoAvancado"
				layout="row"
				flex-none
				layout-padding
				class="no-padding-left no-padding-right"
			>
				<button
					flex-noshrink
					class="btn btn-fat btn-primary"
					type="submit"
				>
					<span ng-hide="isFinished(item)">Transferir</span>
					<span ng-hide="!isFinished(item)">Reabrir</span>
				</button>
			</div>
		</div>

		<div
			flex-none
			layout="row"
			layout-align="space-between center"
		>

			<button
				flex-gt-xs="33"
				type="button"
				class="btn btn-secondary"
				ng-disabled="loading"
				ng-click="cancel()"
			>
				Cancelar
			</button>

			<button
				ng-if="model.atendimentoActionTransferOpcaoAvancado"
				flex-gt-xs="33"
				class="btn btn-primary"
				type="submit"
			>
				<span ng-hide="isFinished(item)">Transferir</span>
				<span ng-hide="!isFinished(item)">Reabrir</span>
			</button>

			<button
				ng-if="!model.atendimentoActionTransferOpcaoAvancado"
				flex-gt-xs="33"
				type="button"
				class="btn btn-secondary"
				ng-disabled="loading"
				ng-click="setAdvanced()"
			>
				Opções Avançadas
			</button>

		</div>

	</form>
</div>
