
.stage-substages-step {

	height: 10px;
	line-height: 20px;
	text-align: center;
	font-weight: 700;
	color: rgba(43, 35, 6, 0.6);
	margin: 0 2px;

}

@for $i from 1 through length($stepColors){

	.stage-step-color#{$i} {
		background-color: nth($stepColors,$i);
	}

	.stage-step-color#{$i}:not(.block-backwards):hover {
		background-color: adjust-hue(nth($stepColors,$i), -35);
	}

}
